<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <connectionStrings >
    <add name="Reporting" connectionString="Url=http://localhost:8090;Database=Reporting"/>
    <add name="EventStore" connectionString="Url=http://localhost:8090;Database=EventStore"/>
  </connectionStrings>
  <nlog>
    <targets>
      <target name="console" type="Console" layout="${longdate} - ${level:uppercase=true} - ${logger} - ${message} - ${exception:format=ToString,StackTrace}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Warn" writeTo="console" />
      <logger name="CQRS.*" writeTo="console" />
    </rules>
  </nlog>
</configuration>