<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings >
    <add name="QueryStore" connectionString="Url = http://localhost:8090;Database=QueryStore"/>
    <add name="EventStore" connectionString="Url = http://localhost:8090;Database=EventStore"/>
  </connectionStrings>
</configuration>