<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings >
    <add name="Reporting" connectionString="Url=http://localhost:8090;Database=Reporting"/>
    <add name="EventStore" connectionString="Url=http://localhost:8090;Database=EventStore"/>
  </connectionStrings>
</configuration>